# Ignore all current files and directories
autostart/
bleachbit/
caja/
clipit/
dconf/
geany/
gtk-2.0/
gtk-3.0/
!i3/
keepassxc/
lxpanel/
lxterminal/
openbox/
pcmanfm/
!polybar/
Trolltech.conf
akregatorrc
breezerc
kactivitymanagerd-statsrc
kcmdisplayrc
kcminputrc
kconf_updaterc
kgammarc
khotkeysrc
klaunchrc
kscreenlockerrc
ksmserverrc
ksplashrc
kwalletrc
kwinrc
spectaclerc
startupconfig
touchpadrc
pulse/
menus/
user-dirs.locale
caja-actions/
ibus/
opensnitch/
pluma/
mate/
Code/
GIMP/
Kilian Valkhof/
Ripes/
Thunar/
VeraCrypt/
VirtualBox/
amass/
audacious/
btop/
cat_installer/
cef_user_data/
cherrytree/
chromium/
discord/
enchant/
eog/
evolution/
goa-1.0/
gtk-4.0/
jgit/
libreoffice/
matplotlib/
nautilus/
neofetch/
nsdt-app/
!nvim/
procps/
qt5ct/
qt6ct/
qterminal.org/
session/
tiling-assistant/
torbrowser/
wireshark/
xm1/
kactivitymanagerdrc
krdcrc
monitors.xml~
systemsettingsrc
xdg-terminals.list
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
konsolesshconfig
konsolerc
yelp/
pcmanfm-qt/
kglobalshortcutsrc
mate-menu/
klipperrc
VSCodium/
BraveSoftware/
mate-session/
libaccounts-glib/
emaildefaults
Unknown Organization/
specialmailcollectionsrc
kmail2rc
kmailsearchindexingrc
phishingurlrc
emailidentities
okularrc
kalendaracrc
go/
user-dirs.dirs
remmina/
freerdp/
monitors.xml
htop/
alacritty/
s/
scripts
yaus/
zoom.conf
Bitwarden CLI/
protonvpn/
systemd/
thefuck/
mimeapps.list
Electron/
Vector 35/
qBittorrent/
qutebrowser/
!hypr/
wlogout/
!waybar/
ulauncher/
spotify/
vscode-sqltools/
QtProject.conf
zoomus.conf
!sway/
pavucontrol.ini
rofi.main/
!rofi/
mkgitignore.sh
!.gitignore
