# Ignore all current files and directories
/*
!.gitignore
!i3/
!polybar/
!nvim/
!alacritty/
!hypr/
!waybar/
!waybar/scripts/
!sway/
!rofi/
!Vim/
Vim/vim/plugged/
Vim/vim/view/
!zsh/
zsh/antidote.zsh
!packages.list
!pkgsv2
!tofi/
