[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -T 6500 -t 2000 -S 6:30 -s 20:00
Slice=session.slice

Restart=on-failure
